* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container {
    width: 75%;
    margin: 1rem auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

section {
    width: calc((100% - 1em) / 3);
    float: left;
}

.col_2 {
    margin: 0 .5em;
}

.row_1 {
    margin-bottom: 2rem;
}

img {
    width: 100%;
    object-fit: contain;
}