* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container {
    width: 75%;
    margin: 1rem auto;
}

/* DIM CONTENUTO */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

section {
    width: calc((100% - 3em) / 3);
    float: left;
}

.col_2 {
    margin: 0 1.5em;
}

.row_1 {
    margin-bottom: 2rem;
}

img {
    width: 100%;
    object-fit: contain;
}

/* NAME&PRICE */
.name-price {
    line-height: 1.2;
}

.name-price .brand, div {
    font-size: 7px;
}

.brand {
    font-weight: 100;
}

.name-price h1 {
    font-size: 8px;
    text-transform: uppercase;
} 

.discounted-price {
    display: inline;
    font-weight: bold;
    color: red;
}

.old-price {
    display: inline;
    text-decoration-line: line-through;
}